<!DOCTYPE html>
<html>
<head>
  <title>Chordpromptweb</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'no-layout' %>
</head>

<body class="no-layout">

<div id="page-container">
    <%= inline_svg "logo.svg", class: 'logo' %>

  <div id="content-container">
    <%= yield %>
  </div>
</div>

</body>
</html>
